body {
  background-color: rgb(255, 255, 255);  
}

#qContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 8px;
  background: gray;
  font-size: 3rem;
  min-width: 80rem;
}

.choice:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 darkgray;
  transform: scale(1.01);
  transform: transform 100ms;
}

#choices {
  padding: 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #choices {
    min-width: 40rem;
  }
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  border-radius: 4px;
  width: 100%;
  min-width: 80rem;
  color: white;
  background: black;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 black;
  
}

#image {
  aspect-ratio: 16 / 9;
}