body {
  background-color: rgb(255, 255, 255);  
  font-family: 'Space Grotesk', sans-serif;
}

#quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

#trackers {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

#qContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  border-radius: 20px;
  background: rgba(90,90,90, .5);
  padding: 2rem;
  margin: 0 auto;
  box-shadow:
  6.2px 4.9px 2.2px -13px rgba(0, 0, 0, 0.02),
  13.4px 10.6px 5.2px -13px rgba(0, 0, 0, 0.028),
  22.6px 18px 9.7px -13px rgba(0, 0, 0, 0.035),
  36.7px 29.1px 17.8px -13px rgba(0, 0, 0, 0.042),
  64.6px 51.3px 34.8px -13px rgba(0, 0, 0, 0.05),
  165px 131px 80px -13px rgba(0, 0, 0, 0.07);
}

img {
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-bottom: 25px;
}

#question {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  background: gray;
  font-size: 2rem;
}

.choice:hover {
  cursor: pointer;
  background: rgb(200, 200, 200);
  box-shadow: 0 0.4rem 1.4rem 0 darkgray;
  transform: scale(1.01);
  transform: transform 100ms;
}

#choices {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 500px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border-radius: 8px;
}



#resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem;
  text-align: center;
  width: 200px;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  background: rgb(200, 100, 100);
  font-family: 'Space Grotesk', sans-serif;
}

#resetBtn:hover {
  cursor: pointer;
  background: rgb(200, 25, 25);
  color: white;
}

#changeCat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: 200px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(200, 100, 100);
  font-family: 'Space Grotesk', sans-serif;
}

#changeCat:hover {
  cursor: pointer;
  background: rgb(200, 25, 25);
  color: white;
}

#endMsgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 2rem;
}
