body {
  background-color: #e3e3e3;  
  font-family: 'Space Grotesk', sans-serif;
}

@font-face {
  font-family: score-clock;
  src: url(/font/CursedTimerUlil-Aznm.ttf);
}

#quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

#trackers {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

#timer {
  font-family: score-clock;
}

#qContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  border-radius: 20px;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 34px;
  background: #e3e3e3;
  box-shadow:  10px 10px 10px #c1c1c1,-10px -10px 10px #ffffff;
}

img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-bottom: 25px;
  box-shadow:  10px 10px 10px #c1c1c1,-10px -10px 10px #ffffff;
}

#question {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  background: gray;
  font-size: 2rem;
  box-shadow:  10px 10px 10px #c1c1c1,-10px -10px 10px #ffffff;
}

.choice:hover {
  cursor: pointer;
  background: rgb(181, 181, 181);
  box-shadow: 0 0.4rem 1.4rem 0 darkgray;
  transform: scale(1.01);
  transform: transform 100ms;
}

#choices {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 500px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border-radius: 8px;
}



#resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem;
  text-align: center;
  width: 200px;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  background: rgb(200, 100, 100);
  font-family: 'Space Grotesk', sans-serif;
}

#resetBtn:hover {
  cursor: pointer;
  background: rgb(200, 25, 25);
  color: white;
}

#changeCat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: 200px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(200, 100, 100);
  font-family: 'Space Grotesk', sans-serif;
}

#changeCat:hover {
  cursor: pointer;
  background: rgb(200, 25, 25);
  color: white;
}

#endMsgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 2rem;
}
