* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
  font-size: 62.5%;
	}

html {
	background-color: rgb(70, 70, 70);
	background-image: url(/photos/liverpoolbw.jpeg);
  background-blend-mode: multiply;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	}

body {
	background-image: linear-gradient(rgb(33, 33, 33), transparent 50%);
	background-size: 100% 100%;
	mix-blend-mode: difference;
	}
  

@font-face {
  font-family: nike-font;
  src: url(/font/Futura-Std-Bold-Oblique.ttf);
}

h1 {
  color: white;
  font-size: 10rem;
  margin-bottom: 2rem;
  font-family: nike-font;
}

h2 {
  color: white;
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-family: nike-font;
}


.container {
  width: 100vw;
  padding: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;

}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  width: 30rem;
  color: white;
  background: rgba(45, 45, 45, 0.9);
  border-radius: 10px;
  box-shadow:  5px 5px 0px #353535, -2px -2px 0px #585858;
  font-family: nike-font;
}

.btn:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.05);
}